{{>_header}}

<div class="container page">
  <div class="carousel slide img-thumbnail mb-4" data-ride="carousel" style="height:300px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/img/slideshow/logistic-koropi.jpg" />
        <div class="carousel-caption d-none d-md-block rounded bg-dark p-2">Logistics Κορωπί</div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/img/slideshow/agia_paraskeui.jpg" />
        <div class="carousel-caption d-none d-md-block rounded bg-dark p-2">Μανταμάδο</div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/img/slideshow/kefalonia.jpg" />
        <div class="carousel-caption d-none d-md-block rounded bg-dark p-2">Κεφαλονιά</div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/img/slideshow/kerkira.jpg" />
        <div class="carousel-caption d-none d-md-block rounded bg-dark p-2">Κέρκυρα</div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/img/slideshow/koropi.jpg" />
        <div class="carousel-caption d-none d-md-block rounded bg-dark p-2">Κορωπί</div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/img/slideshow/lakonia.jpg" />
        <div class="carousel-caption d-none d-md-block rounded bg-dark p-2">Λακωνία</div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/img/slideshow/mantmado.jpg" />
        <div class="carousel-caption d-none d-md-block rounded bg-dark p-2">Αγία Παρασκευή</div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/img/slideshow/plektririo.jpg" />
        <div class="carousel-caption d-none d-md-block rounded bg-dark p-2">Πλεκτήριο Υφασμάτων ΒΙΑΜΑΚ</div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/img/slideshow/apothiki.jpg" />
        <div class="carousel-caption d-none d-md-block rounded bg-dark p-2">Αποθήκη Υφασμάτων ΒΙΑΜΑΚ</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <p>
            Η ανώνυμη εταιρεία με την επωνυμία «ΒΙΑΜΑΚ ΠΛΕΚΤΟΒΙΟΜΗΧΑΝΙΚΗ ΚΑΙ ΕΜΠΟΡΙΚΗ ΑΝΩΝΥΜΟΣ ΕΤΑΙΡΕΙΑ» με
            τον διακριτικό τίτλο ΒΙΑΜΑΚ
            A.E., συστάθηκε στις 11-03-1976 από τον ιδρυτή της κο Αχιλλέα Μακρόπουλο και συνέχισε την
            δραστηριότητα στον κλάδο
            της κλωστοϋφαντουργίας της ΒΙΟΜΑΚ Α.Ε.
          </p>
          <p>
            Το μετοχικό κεφάλαιο της εταιρείας ανέρχεται στο ποσό των 1.603.500 ευρώ και το σύνολο των ιδίων
            κεφαλαίων της εταιρείας
            ανέρχεται στο ποσό των 2.113.414 ευρώ.
          </p>
          <p>
            Με την είσοδο στην εταιρεία το 1991 των υιών του Αχιλλέα Μακρόπουλου, Αλέξανδρου Μακρόπουλου
            (BSc LSE) και Σωτήρη Μακρόπουλου
            (BSc LSE) οι δραστηριότητες της εταιρείας επεκτάθηκαν και σήμερα η εταιρεία δραστηριοποιείται
            στους ακόλουθους τομείς:
          </p>
          <ul style="padding-left:25px;">
            <li>
              Βιομηχανικής παραγωγής υφασμάτων. Η εταιρεία διατηρεί πλεκτήριο στο Κορωπί Αττικής με σκοπό
              την παραγωγή πλεκτών υφασμάτων
              από στρογγυλές μηχανές.
            </li>
            <li>
              Εμπορίας υφασμάτων. Η εταιρεία εισάγει από την Κίνα και άλλες χώρες υφάσματα, τα οποία
              μερικώς επεξεργάζεται (τυπώνει ) και
              στην συνέχεια πουλάει. Η εταιρεία διατηρεί αποθήκη στο Κορωπί Αττικής.
            </li>
            <li>
              Επεξεργασίας Υφασμάτων. Η εταιρεία έως το 2010 συμμετείχε σε Βαφείο και Τυπωτήριο Υφασμάτων.
            </li>
            <li>
              Εκμετάλλευσης κτιρίων. Η εταιρεία το 2005, στο Κορωπί , κατασκεύασε κτίριο Logistics
              (συνολικής έκτασης 4.800 τμ.) σε οικόπεδο
              όμορο του εργοστασίου της το οποίο εκμισθώνει σε τρίτους.
            </li>
            <li>
              Εκμετάλλευσης μονάδων ανανεώσιμων πηγών ενέργειας. Για την επίτευξη του σκοπού της εταιρείας
              , η εταιρεία κατασκεύασε
              <ul style="padding-left:25px;">
                <li>
                  Πέντε(5) Φωτοβολταικούς Σταθμούς Παραγωγής Ηλεκτρικής Ενέργειας ισχύος 69,92 kwp
                  έκαστο στην Νήσο Λέσβου (2 Φ/Β σταθμούς
                  στην θέση Αγίας Παρασκευής οι οποίοι διασυνδέθηκαν το β’ 6μηνο του 2010 και 3 Φ/Β
                  σταθμούς στην θέση Μανταμάδο οι
                  οποίοι διασυνδέθηκαν το Α’ 6μηνο του 2011).
                </li>
                <li>
                  Τρείς (3) Φωτοβολταικούς Σταθμούς Παραγωγής Ηλεκτρικής Ενέργειας ισχύος 99,3 kwp
                  έκαστο στα Χρύσαφα Λακωνίας οι οποίοι διασυνδέθηκαν
                  τον Φεβρουάριο του 2011.
                </li>
                <li>
                  Ένα (1) Φωτοβολταικό Σταθμό Παραγωγής Ηλεκτρικής Ενέργειας ισχύος 99,3 kwp στην
                  οροφή του βιομηχανικού κτιρίου στο Κορωπί
                  Αττικής , ο οποίος διασυνδέθηκε τον Απρίλιο του 2011.
                </li>
                <li>
                  Τρείς (3) Φωτοβολταικούς Σταθμούς Παραγωγής Ηλεκτρικής Ενέργειας ισχύος 99,3 kwp
                  έκαστο στην Κεφαλονιά οι οποίοι διασυνδέθηκαν
                  το β΄6μηνο του 2012.
                </li>
                <li>
                  Ένα (1) Φωτοβολταικό Σταθμό Παραγωγής Ηλεκτρικής Ενέργειας ισχύος 99,3 kwp στην
                  Κέρκυρα, ο οποίος διασυνδέθηκε το β΄6μηνο
                  του 2012.
                </li>
                <li>
                  Επίσης κατέχει το 33,33% της εταιρείας MAC ENERGY A.E. με συνολικά εγκατεστημένη
                  ισχύ 1.120 kwp ( 1 Φ/Β σταθμό 840 kwp στην
                  ΒΙ.ΠΕ. Καρδίτσας, 4 Φ/Β σταθμούς στην Λέσβο).
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="sidebar-item">
        <h4>Στοιχεία Επικοινωνίας</h4>
        <div> Έδρα: <br>
          <b>Τόχι 12 19400 Κορωπί Αττικής</b></div>
        <div> Aλληλογραφία: <br>
          <b>Τ.Θ. 133 19400 Κορωπί Αττικής</b></div>
        <div> Τηλέφωνο:
          <b>210-3428422</b></div>
        <div> Email:
          <b>biamak {at} biamak.com</b></div>
      </div>
      <div class="sidebar-item">
        <h4>Αρχεία</h4>
          <ul class="list-unstyled">
            <li>
              <a href="/files/tiresias_notification.pdf">
                <span class="far fa-file-pdf"></span> Ενημέρωση Τειρεσίας ΑΕ</a>
            </li>
          </ul>
      </div>
      <div class="sidebar-item">
        <h4>Ισολογισμοί</h4>
        <ul class="list-unstyled">
          <li>
            <a href="/files/biamak_isologismos_2014.pdf">
              <span class="far fa-file-pdf"></span> ΒΙΑΜΑΚ ΙΣΟΛΟΓΙΣΜΟΣ 2014</a>
          </li>
          <li>
            <a href="/files/biamak_isologismos_2013.pdf">
              <span class="far fa-file-pdf"></span> ΒΙΑΜΑΚ ΙΣΟΛΟΓΙΣΜΟΣ 2013</a>
          </li>
          <li>
            <a href="/files/biamak_isologismos_2012.pdf">
              <span class="far fa-file-pdf"></span> ΒΙΑΜΑΚ ΙΣΟΛΟΓΙΣΜΟΣ 2012</a>
          </li>
        </ul>
      </div>
      <div class="sidebar-item">
        <h4>Προσκλήσεις</h4>
        <ul class="list-unstyled">
          <li>
            <a href="/files/invitation_gs_2015.pdf">
              <span class="far fa-file-pdf"></span>
              ΠΡΟΣΚΛΗΣΗ ΣΕ ΕΤΗΣΙΑ ΤΑΚΤΙΚΗ ΓΕΝΙΚΗ ΣΥΝΕΛΕΥΣΗ - 30/06/2015</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
{{>_footer}}