<!doctype html>
<html lang='en'>

<head>
    <title>ΒΙΑΜΑΚ A.E. - ΒΙΑΜΑΚ ΠΛΕΚΤΟΒΙΟΜΗΧΑΝΙΚΗ ΚΑΙ ΕΜΠΟΡΙΚΗ ΑΝΩΝΥΜΟΣ ΕΤΑΙΡΕΙΑ</title>
    <meta name="description" content="ΒΙΑΜΑΚ ΠΛΕΚΤΟΒΙΟΜΗΧΑΝΙΚΗ ΚΑΙ ΕΜΠΟΡΙΚΗ ΑΝΩΝΥΜΟΣ  ΕΤΑΙΡΕΙΑ">
    <meta http-equiv="Content-Type" content="charset=utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css" media="all">
</head>

<body>
    <div class="d-flex h-100 flex-column">
        <div class="container">
            <div class="d-flex  align-items-center my-4">
                <div class="logo-wrapper d-flex  align-items-center" style="max-width:450px;">
                    <img src="/img/logo.png" class="mr-4" />
                    <div>
                        <h1 style="font-size:2.5rem">ΒΙΑΜΑΚ A.E.</h1>
                        <h2 style="font-size:1rem">ΒΙΑΜΑΚ ΠΛΕΚΤΟΒΙΟΜΗΧΑΝΙΚΗ ΚΑΙ ΕΜΠΟΡΙΚΗ ΑΝΩΝΥΜΟΣ ΕΤΑΙΡΕΙΑ</h2>
                    </div>
                </div>
                {{!-- <ul class="nav nav-pills nav-fill ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {{#if menu_index}}active{{/if}}" href="index.html">Η Eταιρεια</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if menu_balances}}active{{/if}}" href="balances.html">Ισολογισμοι</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if menu_invitations}}active{{/if}}"
                            href="invitations.html">Προσκλησεις</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if menu_contact}}active{{/if}}" href="contact.html">Επικοινωνια</a>
                    </li>
                </ul> --}}
            </div>
        </div>