<!doctype html>
<html lang='en'>

<head>
    <title>ΒΙΑΜΑΚ A.E. - ΒΙΑΜΑΚ ΠΛΕΚΤΟΒΙΟΜΗΧΑΝΙΚΗ ΚΑΙ ΕΜΠΟΡΙΚΗ ΑΝΩΝΥΜΟΣ ΕΤΑΙΡΕΙΑ</title>
    <meta name="description" content="ΒΙΑΜΑΚ ΠΛΕΚΤΟΒΙΟΜΗΧΑΝΙΚΗ ΚΑΙ ΕΜΠΟΡΙΚΗ ΑΝΩΝΥΜΟΣ  ΕΤΑΙΡΕΙΑ">
    <meta http-equiv="Content-Type" content="charset=utf-8" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	 crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css" media="all">
</head>

<body>