<footer class="bg-primary mt-4 text-white p-4">
    <div class="container text-center">
        <p>Biamak &copy; 2018 - All rights reserved</p>
        <p>developed by
            <a href="http://cgeosoft.com" target="_blank" class="text-white">cgeosoft</a>
        </p>
    </div>
</footer>